.gradient-custom-2 {
    background: #fccb90;
    background: -webkit-linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);
    background: linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);
    }
section{
    height: auto;
    width: 400px;
    min-height: 80vh;
    margin: 10vh;
    background: linear-gradient(#e5c28e, #c48be7);
    border-radius: 20px;
}
.title{
    width: max-content;
    padding: 15px;
    background-color: #ffffff;
    border-radius: 10px;
    margin: auto;
    text-align: center;
}
.wow{
    font-weight: 1000;
    background: -webkit-linear-gradient(#f58349,#f28ae4);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.star{
    border:none;
    background-color: unset;
    color:goldenrod;
    font-size: 3rem;
  }
textarea{
    background: transparent;
    border-color: #ffffff;
}
.range-wrap {
    position: relative;
    width: 100%;
    padding: 1.5em 0; /*  Giving more room for hover  */
    max-width: 400px;
  }

  /* Custom Bar */
  .range-wrap::before {
    content: "";
    background: linear-gradient(to right, #0145b8, #00e5e0, #00f25e);
    width: 100%;
    height: 8px;
    display: block;
    position: absolute;
    border-radius: 4px;
    top: 50%;
    transform: translateY(-50%);
    transition: height 100ms ease;
  }

  .range-wrap:hover::before {
    height: 10px;
  }

  /*  Hide Original */
  .range {
    width: 100%;
    cursor: pointer;
    opacity: 0;
  }

  .bubble {
    background: white;
    border: 3px solid #cbd2da;
    position: absolute;
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none; /* Remove pointer events on Bubble so user can click on the actual thumb beaneath it!  */
    color: transparent;
    display: grid;
    place-items: center; /*  Place the number on the center  */
    font-weight: bold;
    transition: color 100ms ease, transform 100ms ease;
    user-select: none; /*  Prevent Accidentally highlighting the number while sliding the cursor  */
  }

  .range-wrap:hover .bubble,
  .range-wrap:focus .bubble {
    color: black;
    transform: translateY(-50%) scale(1.5);
    padding: 0.1em;
  }
