.menu-display{
  border-right: 2px solid grey;
}
#dishes p{
  font-size: x-small;
}
.is-hidden { display: none; }
.rectangle:hover{
  transform: scale(1.05);
  box-shadow: 0 3px 10px rgba(247 157 49 /0.5);
}
.rectangle{
    display:block;
    height:120px;
    width:110px;
    background:#ffffff;
    position:relative;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    margin-top: 30px;
    cursor: pointer;
  }
  .rectangle .price{
    position: absolute;
    left: 0px;
    top: 52%;
  }
  .rectangle .dishname{
    position: absolute;
    width: 100%;
    left: 0px;
    bottom: 5px;
    line-height: 12px;
    top: 30%;
    text-align: center;
    vertical-align: middle;
  }
  .rectangle .btn-circle {
    position: absolute;
    left: 40%;
    bottom: 5px;
    width: 25px;
    height: 25px;
    padding: 4px 0px;
    border-radius: 12.5px;
    text-align: center;
    vertical-align: middle;
    font-size: 12px;
    line-height: 1.42857;
    border-color: #FFB84C;
}
  .circle{
    position:absolute;
    height:50px;
    width:50px;
    border-radius:50px;
    border:3px solid #ffffff;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.1);
    left:50%;
    margin-left:-25px;
    top: -20px;
    cursor: pointer;
    background:#ffffff;
  }
  .circle img {
    width: 50px; /* or any custom size */
    height: 50px;
    border-radius: 50px;
    object-fit: cover;
}
  .bg-mynav {
    background-color: #2c3e50;
  }
  td {
  line-height: 2rem;
  }
  table thead tr th{
  background-color: #FFB84C !important;
  color: #ffffff;
  }
  .wow {
    text-transform: uppercase;
    background: linear-gradient(to right, #D4145A 0%, #FBB03B 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: "Poppins", sans-serif;
    margin-right: 10px;
  }
  header {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 0rem 1rem;
    z-index: 1000;
    background: #675e5e;
  }
  .w900 {
    font-weight: 900 !important;
  }
    header h2{
    color: whitesmoke;
    }
    nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    }
    nav ul {
    list-style: none;
    display: flex;
    gap: 2rem;
    }
    nav a {
    font-size: 1.8rem;
    text-decoration: none;
    }
    nav a#logo {
    color: #000000;
    font-weight: 700;
    }
    nav ul a {
    font-size: 18px;
    color: #e1e1e1;
    font-family: inherit;
    background: linear-gradient(to right, #D4145A 0%, #FBB03B 100%);
    font-weight: 800;
    cursor: pointer;
    position: relative;
    border: none;
    background: none;
    text-transform: uppercase;
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 400ms;
    transition-property: color;
    }
    nav ul a:hover {
    color: #fff;
    }

    nav ul a:focus:after,
    nav ul a:hover:after {
      width: 100%;
      left: 0%;
    }
    nav ul a:after {
      content: "";
      pointer-events: none;
      bottom: -2px;
      left: 50%;
      position: absolute;
      width: 0%;
      height: 2px;
      background: linear-gradient(to right, #D4145A 0%, #FBB03B 100%);
      transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
      transition-duration: 400ms;
      transition-property: width, left;
      }
      section#home {
        height: 100vh;
        display: grid;
        place-items: center;
        }
        h1 {
        font-size: 4rem;
        }
        #ham-menu {
        display: none;
        }
        nav ul.active {
        left: 0;
        }
        @media only screen and (max-width: 991px) {
        html {
          font-size: 56.25%;
        }
        header {
          padding: 2.2rem 5rem;
        }
        }
        @media only screen and (max-width: 767px) {
        html {
          font-size: 50%;
        }
        #ham-menu {
          display: block;
          color: #ffffff;
        }
        .home{
          width: 100%;
          height: 100%;
        }
        .home img{
          width: 100vw;
          height: 100vh;
          background-size:cover;
          position: fixed;
        }
        nav a#logo,
        #ham-menu {
          font-size: 3.2rem;
        }
        nav ul {
          background-color: black;
          position: fixed;
          left: -100vw;
          top: 73.6px;
          width: 100vw;
          height: calc(100vh - 73.6px);
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: space-around;
          transition: 1s;
          gap: 0;
        }
        }
        @media only screen and (max-width: 575px) {
        html {
          font-size: 46.87%;
        }
        header {
          padding: 2rem 3rem;
        }
        nav ul {
          top: 65.18px;
          height: calc(100vh - 65.18px);
        }
        }



.input-field{
  position:relative;
  margin-top:5px;
}

.input-field input{
  height:50px;
  outline:none !important;
  border:2px solid #eee;

}

.input-field input:focus{
  box-shadow:none;
  outline:none !important;
}

.input-field label{
  position:absolute;
  top:10px;
  left:6px;
  transition:all 0.5s;
  padding:0px 10px;
  border-radius:20px;


}

.input-field input:focus+label,
.input-field input:valid+label
{
  position:absolute;
  top:-10px;
  left:6px;
  font-size:13px;
  color:lightskyblue;
  background:linear-gradient(to bottom,#f6f8fa 50%,#ffffff 50%);
}
.fixTableHead {
  overflow-y: auto;
  height: 78vh;
}
.fixTableHead thead th {
  position: sticky;
  top: 0;
}
table {
  border-collapse: collapse;        
  width: 100%;
}
.alignright {
  text-align: right;
}

.switch {
  font-size: 17px;
  position: relative;
  display: inline-block;
  width: 64px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #73C0FC;
  transition: .4s;
  border-radius: 30px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 30px;
  width: 30px;
  border-radius: 20px;
  left: 2px;
  bottom: 2px;
  z-index: 2;
  background-color: #e8e8e8;
  transition: .4s;
}

.sun img {
  position: absolute;
  top: 6px;
  left: 36px;
  z-index: 1;
  width: 24px;
  height: 24px;
}

.moon img {
  fill: #73C0FC;
  position: absolute;
  top: 5px;
  left: 5px;
  z-index: 1;
  width: 24px;
  height: 24px;
}


.input-field input[type=number]::-webkit-inner-spin-button,
.input-field input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
}